html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
  font-size: 2.57143em;
  margin-top: 0.55556em;
  margin-bottom: 0.27778em;
}

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 2.05714em;
  }
}

h2, .h2 {
  font-size: 2.14286em;
  margin-top: 0.66667em;
  margin-bottom: 0.33333em;
}

@media (max-width: 991px) {
  h2, .h2 {
    font-size: 1.71429em;
  }
}

h3, .h3 {
  font-size: 1.71429em;
  margin-top: 0.83333em;
  margin-bottom: 0.41667em;
}

@media (max-width: 991px) {
  h3, .h3 {
    font-size: 1.37143em;
  }
}

h4, .h4 {
  font-size: 1.28571em;
  margin-top: 0.55556em;
  margin-bottom: 0.55556em;
}

@media (max-width: 991px) {
  h4, .h4 {
    font-size: 1.02857em;
  }
}

h5, .h5 {
  font-size: 14px;
  margin-top: 0.71429em;
  margin-bottom: 0.71429em;
}

h6, .h6 {
  font-size: 12px;
  margin-top: 0.83333em;
  margin-bottom: 0.83333em;
}

.subtitulo {
  font-size: 1.14286em;
  text-transform: uppercase;
}

.texto-azul, .btn-acceder.btn-linea-azul {
  color: #2C72B4;
}

.texto-gris {
  color: #F1F7F8;
}

.texto-celeste {
  color: #C7DEE2;
}

.texto-negro, .btn-acceder.btn-linea-negro {
  color: #000;
}

.texto-blanco, .btn-acceder.btn-linea-blanco {
  color: #fff;
}

p.texto-especial {
  font-size: 1.28571em;
  margin: 2em 0;
}

.bg-azul {
  background-color: #2C72B4;
}

.hide-svg {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  margin-top: -999em;
}

.fila-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-general-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.panel-bg-color {
  background-color: #F1F7F8;
  border-top: 2px solid #2C72B4;
  padding: 1.5em;
}

figure.foto-bg {
  border-radius: 100%;
  background: transparent no-repeat center center /cover;
}

.dropdown-menu {
  border: none;
  margin: 0;
  border-radius: 0;
}

.logo-mpt.logo-blanco {
  fill: #fff;
}

.logo-mpt.logo-azul {
  fill: #2C72B4;
}

.logo-uibb {
  text-indent: -999em;
  display: inline-block;
  background: transparent no-repeat center right /cover;
}

.logo-uibb.uibb-blanco {
  background-image: url(../img/logo-uibb-blanco.png);
}

.logo-uibb.uibb-negro {
  background-image: url(../img/logo-uibb-negro.png);
}

.acceso-usuario-container {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.acceso-usuario-container .fila-flex {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.foto-usuario {
  width: 50px;
  height: 50px;
  margin-right: 1em;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.foto-usuario.sin-foto {
  background-image: url(../img/login-sin-foto.png);
}

.nombre-usuario {
  margin-right: 1em;
}

#dropdownUsuario {
  color: #000;
  text-decoration: none;
}

#dropdownUsuario:hover,
.open #dropdownUsuario {
  color: #2C72B4;
}

.btn-menu-usuario {
  font-size: 21px;
  width: 2.5em;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #C7DEE2;
}

a:hover > .btn-menu-usuario,
.open .btn-menu-usuario {
  background-color: #F1F7F8;
  color: #000;
}

.submenu-usuario {
  right: 0;
  left: auto;
  background-color: #F1F7F8;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
  text-align: right;
  padding: 1em;
  min-width: 180px;
}

.submenu-usuario li {
  padding: 0.5em 0.5em 0.5em 1em;
}

.submenu-usuario li a {
  padding: 0;
}

.submenu-usuario li a:hover {
  color: #2C72B4;
}

.btn-acceder {
  display: block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1.28571em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 0.75em 2em;
  background-color: transparent;
  border: 2px solid;
}

@media (max-width: 991px) {
  .btn-acceder {
    font-size: 1.07143em;
  }
}

.btn-acceder .glyphicon {
  margin: 0 0 0 0.75em;
  vertical-align: -8%;
}

.btn-acceder.btn-full-azul {
  border-color: #2C72B4;
  background-color: #2C72B4;
  color: #fff;
}

.btn-acceder.btn-max-360 {
  width: 90%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.btn-acceder:hover, .btn-acceder:active, .btn-acceder:focus {
  background-color: #F1F7F8;
  color: #2C72B4;
  border-color: #F1F7F8;
  text-decoration: none;
}

.btn-acceder.btn-h-celeste:hover {
  background-color: #C7DEE2;
  border-color: #C7DEE2;
}

.header-simple {
  margin: 1em auto 1.5em;
  padding: 1em 0;
}

.header-simple .marca-container {
  text-align: center;
}

.header-simple .marca-container a {
  display: block;
}

.header-simple .logo-mpt {
  max-width: 280px;
  width: 75%;
  text-align: center;
}

.header-simple .logo-uibb {
  width: 140px;
  height: 44px;
}

.header-simple .mpt-by {
  margin-top: 0.5em;
  text-align: center;
}

.header-simple .mpt-by .texto-servicio {
  position: relative;
  top: 1em;
}

.header-acceso {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .header-acceso {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-acceso .marca-container {
  padding-right: 20px;
  text-align: left;
}

@media (max-width: 767px) {
  .header-acceso .marca-container {
    text-align: center;
    margin-bottom: 1em;
  }
}

.header-acceso .marca-container a {
  display: block;
}

.header-acceso .marca-container a .logo-mpt {
  width: 165px;
}

.header-acceso.sin-acceso .btn-acceder {
  font-size: 15px;
}

.acceso-usuario-container .nombre-docente,
.acceso-usuario-container .nombre-entidad {
  display: block;
}

.header-home {
  margin: 0 auto 2em;
  position: relative;
  min-height: 85vh;
}

.header-home .contenido-header-home {
  padding: 2em 0 5em;
}

.header-home .marca-home {
  width: 75%;
  max-width: 350px;
  margin: 3em auto;
}

@media (max-width: 767px) {
  .header-home .marca-home {
    max-width: 280px;
    margin: 2em auto;
  }
}

.header-home .marca-home .logo-mpt {
  width: 100%;
}

.header-home .mpt-by {
  margin: 1em auto 5em;
  text-align: center;
}

@media (max-width: 767px) {
  .header-home .mpt-by {
    margin-bottom: 3em;
  }
}

.header-home .texto-servicio {
  font-size: 16px;
}

.header-home .logo-uibb {
  width: 150px;
  height: 48px;
  vertical-align: 30px;
}

.header-home .btn-acceder {
  margin: 2em auto;
}

@media (max-width: 767px) {
  .header-home .btn-acceder {
    font-size: 15px;
  }
}

.header-home .login-nav-home {
  background: linear-gradient(180deg, #2c72b3 20%, rgba(44, 114, 179, 0) 100%);
}

.header-home .login-nav-home .contenedor-acceso {
  padding: 2em 1.5em 4em;
}

@media (max-width: 767px) {
  .header-home .login-nav-home .contenedor-acceso {
    padding: 1.5em;
  }
}

.header-home .login-nav-home .acceso-usuario-container {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header-home .login-nav-home .acceso-usuario-container {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: auto;
  }
}

.header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #2C72B4;
}

.header-bg .carousel,
.header-bg .carousel-inner,
.header-bg .item {
  width: 100%;
  height: 100%;
}

.header-bg .item {
  background: #2C72B4 no-repeat/cover;
}

.header-bg .carousel-fade .carousel-inner .item {
  transition-property: opacity;
}

.header-bg .carousel-fade .carousel-inner .item,
.header-bg .carousel-fade .carousel-inner .active.left,
.header-bg .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.header-bg .carousel-fade .carousel-inner .active,
.header-bg .carousel-fade .carousel-inner .next.left,
.header-bg .carousel-fade .carousel-inner .prev.right {
  opacity: 0.8;
}

.header-bg .carousel-fade .carousel-inner .next,
.header-bg .carousel-fade .carousel-inner .prev,
.header-bg .carousel-fade .carousel-inner .active.left,
.header-bg .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

main.gap-header-acceso {
  margin-top: 1.5em;
}

.contenido-home .foto--seccion-info {
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .contenido-home .foto--seccion-info {
    max-width: 180px;
  }
}

.contenido-home section.info-home {
  padding: 1em 0;
  margin: 1em auto;
}

.contenido-home h2.titulo-seccion {
  margin-bottom: 0.75em;
}

.contenido-home .logos-organizadores .logo-img {
  max-height: 75px;
  margin: 2em auto 1.5em;
}

.contenido-home .info--participantes {
  padding: 1em 0;
  margin: 2em auto 1em;
}

@media (max-width: 991px) {
  .contenido-home .info--participantes {
    margin: 1em auto;
  }
}

.contenido-home .btn-banner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C7DEE2;
  padding: 1.5em;
  margin: 1em auto 2em;
}

@media (max-width: 991px) {
  .contenido-home .btn-banner {
    max-width: 360px;
    padding: 1em;
  }
}

.contenido-home .btn-banner .banner-icono {
  width: 20%;
  max-width: 100px;
  margin-right: 1.5em;
}

@media (max-width: 991px) {
  .contenido-home .btn-banner .banner-icono {
    margin-right: 0.75em;
  }
}

.contenido-home .btn-banner .banner-texto h4 {
  font-size: 1.5em;
  margin: 0 0 0.15em;
  font-weight: 700;
}

@media (max-width: 991px) {
  .contenido-home .btn-banner .banner-texto h4 {
    font-size: 1.28571em;
  }
}

.contenido-home .btn-banner .banner-texto p {
  font-size: 1.14286em;
  font-weight: 700;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .contenido-home .btn-banner .banner-texto p {
    font-size: 1em;
  }
}

.contenido-home .btn-banner:hover, .contenido-home .btn-banner:active, .contenido-home .btn-banner:focus {
  background-color: #F1F7F8;
  text-decoration: none;
}

.contenido-home .sub-sec-acceso {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.contenido-home .sub-sec-acceso p {
  font-size: 16px;
  margin-bottom: 1.5em;
}

.contenido-home .jumbotron {
  margin-bottom: 0;
}

.contenido-home section.info-contacto {
  padding: 2em 0;
}

.contenido-home section.info-contacto p.texto-especial {
  font-size: 1.71429em;
  margin: 0 auto 1.5em;
}

@media (max-width: 991px) {
  .contenido-home section.info-contacto p.texto-especial {
    font-size: 1.28571em;
  }
}

.form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.form-control.placeholder {
  font-weight: 700;
}

.form-control:-moz-placeholder {
  font-weight: 700;
}

.form-control::-moz-placeholder {
  font-weight: 700;
}

.form-control:-ms-input-placeholder {
  font-weight: 700;
}

.form-control::-webkit-input-placeholder {
  font-weight: 700;
}

.form-control:focus {
  box-shadow: none;
}

select {
  margin-bottom: 1.5em;
}

button[type="submit"].btn-primary {
  width: 100%;
  max-width: 300px;
  display: block;
  border-radius: 0;
  border: none;
  background-color: #2C72B4;
  padding: 1em;
  color: #fff;
  font-weight: 700;
}

button[type="submit"].btn-primary:hover {
  background-color: #C7DEE2;
  color: #2C72B4;
}

.form-mpt fieldset {
  margin-top: 2em;
}

.form-mpt fieldset legend {
  border: none;
  padding-left: 1em;
}

.form-mpt .form-group {
  margin-bottom: 1em;
  padding-top: 1em;
}

.form-mpt .form-group .radio label {
  margin-left: 0.75em;
}

.form-mpt .form-group .input-label {
  padding-left: 7px;
  margin-bottom: 0;
  -webkit-transform: translate(0, 0em);
      -ms-transform: translate(0, 0em);
          transform: translate(0, 0em);
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.form-mpt .form-group.cargado .input-label {
  width: auto;
  height: auto;
  clip: auto;
  -webkit-transform: translate(0, -1.25em);
      -ms-transform: translate(0, -1.25em);
          transform: translate(0, -1.25em);
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.form-mpt .form-group.cargado .form-control {
  background-color: #F1F7F8;
  transition: background 0.2s ease;
}

.form-mpt .form-group.cargado .input-group-btn-vertical .btn-promedio {
  background-color: #F1F7F8;
}

.form-mpt .form-control {
  border-bottom: 1px solid #C7DEE2;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: #000;
}

.form-mpt .form-control.placeholder {
  color: #000;
}

.form-mpt .form-control:-moz-placeholder {
  color: #000;
}

.form-mpt .form-control::-moz-placeholder {
  color: #000;
}

.form-mpt .form-control:-ms-input-placeholder {
  color: #000;
}

.form-mpt .form-control::-webkit-input-placeholder {
  color: #000;
}

.form-mpt .form-control:focus {
  background-color: #F1F7F8;
  transition: background 0.2s ease;
}

.form-mpt .has-error .form-control {
  border: 1px solid #FF0000;
}

.form-mpt .has-error .radio {
  color: #FF0000;
}

.form-mpt .input-group-btn-vertical .btn-promedio {
  border-radius: 0 !important;
  background-color: #fff;
}

.form-mpt .input-group-btn-vertical .btn-promedio.bootstrap-touchspin-down {
  border-bottom: 1px solid #C7DEE2;
}

.form-mpt .input-group-btn-vertical .btn-promedio:hover {
  background-color: #C7DEE2;
}

.form-invertido .form-control {
  background-color: #F1F7F8;
  border-color: #000;
}

.form-invertido .form-control:focus {
  background-color: #fff;
}

.form-invertido .form-group {
  margin-bottom: 2em;
}

.form-invertido .form-group.cargado .form-control {
  background-color: #fff;
}

.form-invertido .btn-login {
  margin-top: 3em;
}

.cargar-alumno {
  margin: 1.5em auto;
}

.cargar-alumno .fila-flex {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cargar-datos {
  width: 67%;
  padding: 0 0.5em;
}

@media (max-width: 991px) {
  .cargar-datos {
    width: 100%;
  }
}

.datos-fijos {
  width: 30%;
}

@media (max-width: 991px) {
  .datos-fijos {
    width: 100%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.5em auto 0;
  }
}

@media (max-width: 767px) {
  .datos-fijos {
    max-width: 480px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.datos-fijos .foto-alumno {
  width: 220px;
  height: 220px;
  background-image: url(../img/foto-alumno-back.png);
  margin: 0.5em auto;
}

@media (max-width: 991px) {
  .datos-fijos .foto-alumno {
    width: 180px;
    height: 180px;
  }
}

.datos-fijos label.cargar-foto-btn {
  position: relative;
  cursor: pointer;
  margin: 1em auto;
  width: 100%;
}

.datos-fijos label.cargar-foto-btn input[type="file"] {
  position: absolute;
  left: -999em;
}

.datos-fijos label.cargar-foto-btn:hover {
  color: #2C72B4;
}

.datos-fijos .cargar-foto {
  padding: 0 1.5em;
}

@media (max-width: 991px) {
  .datos-fijos .cargar-foto {
    width: 48%;
    max-width: 360px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .datos-fijos .cargar-foto {
    width: 100%;
  }
}

.datos-fijos .cargar-foto .error {
  color: #FF0000;
  display: none;
}

.datos-fijos .cargar-foto.has-error .error {
  display: block;
}

.datos-fijos .guardar-datos {
  margin-top: 3em;
}

@media (max-width: 991px) {
  .datos-fijos .guardar-datos {
    width: 48%;
    margin-top: 1.5em;
  }
}

@media (max-width: 767px) {
  .datos-fijos .guardar-datos {
    width: 100%;
  }
}

.datos-fijos .btn-guardar {
  margin: 2em auto 0.5em;
}

.datos-fijos .btn-descartar {
  text-align: center;
  width: 100%;
}

.login-form {
  padding: 2em 3em;
  margin: 1em auto 4em;
}

.login-form a.recuperar-pass {
  margin-top: 1em;
}

.btn-registro {
  background-color: #C7DEE2;
  color: #2C72B4;
  font-weight: 700;
  margin: 2em auto;
  display: block;
  max-width: 310px;
  padding: 1.25em;
  border-radius: 0;
}

.btn-registro:hover {
  background-color: #2C72B4;
  color: #fff;
}

.recu-form {
  padding: 1em 2em;
}

@media (max-width: 767px) {
  .recu-form {
    padding: 0;
  }
}

.soporte-form {
  padding: 2em 3em;
  margin: 1.5em auto;
}

@media (max-width: 767px) {
  .soporte-form {
    padding: 1.5em;
  }
}

.contacto-form {
  padding: 2em 3em;
  margin: 1.5em auto 3em;
}

@media (max-width: 767px) {
  .contacto-form {
    padding: 1.5em;
  }
}

.form-tabs {
  margin-top: 1.5em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form-tabs li {
  width: 50%;
}

.form-tabs li a {
  text-align: center;
  font-weight: 700;
  font-size: 1.125em;
  color: #000;
  border-radius: 0;
  margin: 0;
  height: 100%;
}

@media (max-width: 767px) {
  .form-tabs li a {
    font-size: 1em;
    padding: 0.75em 0.5em;
  }
}

.form-tabs li a:hover, .form-tabs li a:focus, .form-tabs li a:active {
  background-color: #F1F7F8;
}

.form-tabs li.active a,
.form-tabs li.active a:hover,
.form-tabs li.active a:focus,
.form-tabs li.active a:active {
  background-color: #C7DEE2;
  color: #2C72B4;
}

.form-tab-content {
  margin-bottom: 1.5em;
}

.foto-alumno {
  margin: 0 auto;
}

.foto-alumno.sin-foto.masculino {
  background-image: url(../img/alumno-sin-foto-masculino.png);
}

.foto-alumno.sin-foto.femenino {
  background-image: url(../img/alumno-sin-foto-femenino.png);
}

.promedio {
  background-color: #2C72B4;
  padding: 0.75em 1em;
  text-align: center;
}

@media (max-width: 767px) {
  .promedio {
    padding: 0.5em;
  }
}

.promedio .promedio-titulo {
  color: #C7DEE2;
  text-transform: uppercase;
  display: block;
  line-height: 1.2;
}

.promedio .promedio-valor {
  font-size: 1.71429em;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767px) {
  .promedio .promedio-valor {
    font-size: 1.42857em;
  }
}

.nombre-alumno {
  font-weight: 700;
}

.datos-alumno span {
  margin: 0.5em 0;
  display: inline-block;
}

.datos-alumno strong {
  display: block;
}

.contenedor-lista {
  margin: 1.5em auto 0;
  padding: 1.5em 0;
  width: 100%;
}

.contenedor-lista ul.lista-alumnos,
.contenedor-lista ul.lista-instituciones {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.contenedor-lista li.item,
.contenedor-lista li.item-alumno {
  width: 32%;
  margin: 1em 0.66667%;
  padding: 1.25em 0.75em 0;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  transition: background 0.1s 0.2s ease;
}

@media (max-width: 991px) {
  .contenedor-lista li.item,
  .contenedor-lista li.item-alumno {
    width: 46%;
    margin: 1em 1%;
  }
}

@media (max-width: 767px) {
  .contenedor-lista li.item,
  .contenedor-lista li.item-alumno {
    width: 96%;
    max-width: 400px;
    margin: 0.75em auto;
  }
}

.contenedor-lista li.item::after,
.contenedor-lista li.item-alumno::after {
  display: block;
  content: '';
  width: 100%;
  border-bottom: 1px solid #C7DEE2;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contenedor-lista li.item:hover, .contenedor-lista li.item.item-marcado,
.contenedor-lista li.item-alumno:hover,
.contenedor-lista li.item-alumno.item-marcado {
  background-color: #F1F7F8;
  transition: background 0.3s ease;
}

.contenedor-lista li.item:hover .nombre-alumno a, .contenedor-lista li.item.item-marcado .nombre-alumno a,
.contenedor-lista li.item-alumno:hover .nombre-alumno a,
.contenedor-lista li.item-alumno.item-marcado .nombre-alumno a {
  color: #2C72B4;
}

.contenedor-lista li.item:hover::after, .contenedor-lista li.item.item-marcado::after,
.contenedor-lista li.item-alumno:hover::after,
.contenedor-lista li.item-alumno.item-marcado::after {
  border-color: #2C72B4;
}

.contenedor-lista .foto-item,
.contenedor-lista .foto-alumno {
  width: 160px;
  height: 160px;
}

.contenedor-lista .nombre-alumno {
  font-size: 1.5em;
  text-align: center;
}

@media (max-width: 991px) {
  .contenedor-lista .nombre-alumno {
    font-size: 1.3em;
  }
}

.contenedor-lista .nombre-alumno a {
  color: #000;
}

.contenedor-lista .datos-personales span {
  margin-left: 1.3em;
}

.contenedor-lista .datos-personales span:first-child {
  margin-left: 0;
}

.contenedor-lista .ultimo-bloque {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

.contenedor-lista .promedio {
  margin-left: -0.75em;
  text-align: left;
}

.contenedor-lista .promedio .promedio-titulo {
  margin: 0 1.5em 0 0;
  vertical-align: 12.5%;
  display: inline;
}

.contenedor-lista .btn-acciones {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.contenedor-lista .btn-acciones .btn {
  border-radius: 100%;
  width: 2.57143em;
  height: 2.57143em;
  line-height: 2.57143em;
  padding: 0;
  margin: 5px;
  background-color: #2C72B4;
  border: none;
  box-shadow: none;
  transition: background 0.15s ease;
}

.contenedor-lista .btn-acciones .btn .glyphicon {
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  vertical-align: -20%;
  transition: all 0.15s ease;
}

.contenedor-lista .btn-acciones .btn:hover {
  background-color: #C7DEE2;
  transition: background 0.15s ease;
}

.contenedor-lista .btn-acciones .btn:hover .glyphicon {
  color: #2C72B4;
  transition: all 0.15s ease;
}

.contenedor-lista.vista-listado li.item,
.contenedor-lista.vista-listado li.item-alumno {
  width: 100%;
  margin: 1em auto;
  padding: 0;
  border-top-left-radius: 135px;
  border-bottom-left-radius: 135px;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 991px) {
  .contenedor-lista.vista-listado li.item,
  .contenedor-lista.vista-listado li.item-alumno {
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 767px) {
  .contenedor-lista.vista-listado li.item,
  .contenedor-lista.vista-listado li.item-alumno {
    max-width: 460px;
    margin: 1em auto;
  }
}

.contenedor-lista.vista-listado li.item:after,
.contenedor-lista.vista-listado li.item-alumno:after {
  height: 0;
  width: calc(100% - 140px);
}

.contenedor-lista.vista-listado .link-foto-alumno,
.contenedor-lista.vista-listado .foto-no-link {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

@media (max-width: 991px) {
  .contenedor-lista.vista-listado .link-foto-alumno,
  .contenedor-lista.vista-listado .foto-no-link {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
}

.contenedor-lista.vista-listado .foto-alumno {
  width: 135px;
  height: 135px;
  margin-right: 1.5em;
}

@media (max-width: 991px) {
  .contenedor-lista.vista-listado .foto-alumno {
    width: 100px;
    height: 100px;
    margin-right: 1em;
  }
}

.contenedor-lista.vista-listado .nombre-alumno {
  text-align: left;
}

.contenedor-lista.vista-listado .info-alumno {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contenedor-lista.vista-listado .datos-alumno {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (max-width: 991px) {
  .contenedor-lista.vista-listado .datos-alumno {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedor-lista.vista-listado .datos-alumno .datos-personales {
  width: 39%;
}

@media (max-width: 991px) {
  .contenedor-lista.vista-listado .datos-alumno .datos-personales {
    width: 100%;
  }
}

.contenedor-lista.vista-listado .datos-alumno .datos-academicos {
  width: 59%;
}

@media (max-width: 991px) {
  .contenedor-lista.vista-listado .datos-alumno .datos-academicos {
    width: 100%;
  }
}

.contenedor-lista.vista-listado .datos-alumno span {
  display: block;
  margin: 0 0 0.5em;
}

.contenedor-lista.vista-listado .datos-alumno strong {
  display: inline;
}

.contenedor-lista.vista-listado .ultimo-bloque {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-left: auto;
  margin-top: 0;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (max-width: 767px) {
  .contenedor-lista.vista-listado .ultimo-bloque {
    position: absolute;
    left: 0;
    bottom: 5px;
  }
}

.contenedor-lista.vista-listado .promedio {
  text-align: center;
  padding: 0.5em;
}

.contenedor-lista.vista-listado .promedio .promedio-titulo {
  display: block;
  margin: 0;
}

.contenedor-lista.vista-listado .btn-acciones {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.contenedor-lista.vista-listado.backend .ultimo-bloque {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.contenedor-lista.vista-listado.backend .checkbox {
  padding: 0 1em;
}

.contenedor-lista .item-datos p {
  margin-bottom: 0.3em;
}

.contenedor-lista ul.lista-2col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-lista ul.lista-2col li.item {
  width: 48%;
  margin-left: 0;
  margin-right: 0;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 991px) {
  .contenedor-lista ul.lista-2col li.item {
    width: 98%;
    margin: 0.5em auto;
  }
}

@media (max-width: 767px) {
  .contenedor-lista ul.lista-2col li.item {
    max-width: 98%;
  }
}

.contenedor-lista ul.lista-2col li.item .foto-item {
  width: 150px;
  height: 150px;
  margin-right: 1.5em;
}

@media (max-width: 991px) {
  .contenedor-lista ul.lista-2col li.item .foto-item {
    width: 100px;
    height: 100px;
    margin-right: 1em;
  }
}

.foto-item.sin-foto.foto-institucion {
  background-image: url(../img/escuela-sin-foto.png);
}

.foto-item.sin-foto.foto-asociado {
  background-image: url(../img/asociado-sin-foto.png);
}

ul.pagination {
  border-radius: 0;
}

ul.pagination li a {
  color: #2C72B4;
  border: none;
  font-size: 18px;
  padding: 4px 12px;
  margin: 0 2px;
  border-radius: 100%;
}

ul.pagination li a:hover, ul.pagination li a:focus {
  background-color: #F1F7F8;
}

ul.pagination li:first-child a,
ul.pagination li:first-child span,
ul.pagination li:last-child a,
ul.pagination li:last-child span {
  border-radius: 0;
  background-color: #fff;
  font-size: 21px;
}

ul.pagination li:first-child a:hover, ul.pagination li:first-child a:focus,
ul.pagination li:first-child span:hover,
ul.pagination li:first-child span:focus,
ul.pagination li:last-child a:hover,
ul.pagination li:last-child a:focus,
ul.pagination li:last-child span:hover,
ul.pagination li:last-child span:focus {
  background-color: #fff;
  color: #C7DEE2;
}

ul.pagination li.active a, ul.pagination li.active span,
ul.pagination li.active a:hover, ul.pagination li.active span:hover,
ul.pagination li.active a:focus, ul.pagination li.active span:focus {
  background-color: #2C72B4;
  color: #fff;
}

ul.pagination li.disabled a, ul.pagination li.disabled span,
ul.pagination li.disabled a:hover, ul.pagination li.disabled span:hover,
ul.pagination li.disabled a:focus, ul.pagination li.disabled span:focus {
  color: #F1F7F8;
}

.alumno-individual {
  margin-top: 1.5em;
}

.alumno-individual .alumno-info-principal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid #2C72B4;
}

@media (max-width: 767px) {
  .alumno-individual .alumno-info-principal {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.alumno-individual .contenedor-foto {
  width: 30%;
}

@media (max-width: 767px) {
  .alumno-individual .contenedor-foto {
    width: 100%;
  }
}

.alumno-individual .foto-alumno {
  width: 220px;
  height: 220px;
  margin: 1.5em auto;
}

@media (max-width: 991px) {
  .alumno-individual .foto-alumno {
    width: 180px;
    height: 180px;
  }
}

.alumno-individual .info-alumno {
  width: 55%;
  margin-bottom: 1.5em;
}

@media (max-width: 767px) {
  .alumno-individual .info-alumno {
    width: 74%;
  }
}

@media (max-width: 479px) {
  .alumno-individual .info-alumno {
    width: 100%;
  }
}

.alumno-individual .datos-alumno span {
  margin: 0.5em 1.5em 0.5em 0;
}

.alumno-individual .promedio {
  padding: 1em;
}

@media (max-width: 991px) {
  .alumno-individual .promedio {
    padding: 0.75em 0.5em;
  }
}

@media (max-width: 767px) {
  .alumno-individual .promedio {
    width: 24%;
  }
}

@media (max-width: 479px) {
  .alumno-individual .promedio {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .alumno-individual .fila-flex {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.alumno-individual .info-contactos {
  width: 30%;
  margin-right: 1.5em;
}

@media (max-width: 991px) {
  .alumno-individual .info-contactos {
    width: 40%;
    margin-right: 0.75em;
  }
}

@media (max-width: 767px) {
  .alumno-individual .info-contactos {
    width: 100%;
  }
}

.alumno-individual .info-contactos section {
  margin-bottom: 1.5em;
}

.alumno-individual .info-contactos section.contacto-alumno {
  border-top: none;
}

.alumno-individual .info-contactos section.contacto-docente li {
  padding: 0.1em 0 0.2em;
}

.alumno-individual .info-contactos .lista-contacto {
  margin-top: 1em;
}

.alumno-individual .info-contactos .lista-contacto li {
  padding: 0.5em 0 0.5em 0.5em;
}

.alumno-individual .info-contactos .lista-contacto .fa-li {
  background-color: #2C72B4;
  color: #fff;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  font-size: 14px;
  line-height: 2em;
  padding: 0;
}

.alumno-individual .info-detalle {
  width: 65%;
  padding: 1.5em 0.5em;
}

@media (max-width: 991px) {
  .alumno-individual .info-detalle {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .alumno-individual .info-detalle {
    width: 100%;
  }
}

.alumno-individual .info-detalle section {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.alumno-individual .info-detalle .lista-actitudes li {
  padding: 0.5em 0;
  margin-right: 2.5em;
}

.alumno-individual .info-detalle .lista-actitudes .fa-li {
  left: -1.75em;
  width: 1.8em;
  top: 0.75em;
}

.nav-listado {
  background-color: #2C72B4;
  padding: 0 0.75em;
}

.nav-listado .texto-nav {
  color: #fff;
}

.nav-listado .link-nav-listado {
  display: block;
  padding: 1em;
  text-align: center;
}

.nav-listado .link-nav-listado .glyphicon {
  font-size: 18px;
  color: #fff;
  vertical-align: -10%;
  margin: 0 0.25em 0 -0.25em;
}

.nav-listado .link-nav-listado .texto-nav {
  font-weight: 700;
}

.nav-listado .link-nav-listado:hover {
  background-color: #C7DEE2;
  color: #2C72B4;
  text-decoration: none;
}

.nav-listado .link-nav-listado:hover .glyphicon,
.nav-listado .link-nav-listado:hover .texto-nav {
  color: #2C72B4;
}

.nav-listado .btn-cambiar-vista {
  border-radius: 100%;
  font-size: 18px;
  font-weight: normal;
  box-shadow: none;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: #2C72B4;
  color: #fff;
  margin: 0.35em;
}

.nav-listado .btn-cambiar-vista:hover, .nav-listado .btn-cambiar-vista:active, .nav-listado .btn-cambiar-vista:focus, .nav-listado .btn-cambiar-vista.activo {
  background-color: #C7DEE2;
  color: #2C72B4;
}

.estilo-modal-bg {
  background-color: rgba(255, 255, 255, 0.7);
}

.estilo-modal-container {
  background-color: #C7DEE2;
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.25);
}

a.btn-cerrar {
  color: #fff;
  text-indent: -999em;
  width: 4em;
  height: 3em;
}

a.btn-cerrar::after, a.btn-cerrar::before {
  content: '';
  width: 4px;
  height: 28px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -2px;
}

a.btn-cerrar::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

a.btn-cerrar::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

a.btn-cerrar:hover {
  color: #000;
  transition: color 0.2s ease;
}

a.btn-cerrar:hover::after, a.btn-cerrar:hover::before {
  background-color: #000;
  transition: background 0.2s ease;
}

a.btn-cerrar.close {
  position: absolute;
  top: 2em;
  right: 1.5em;
  font-size: 14px;
  opacity: 0.75;
}

a.btn-cerrar.close:hover {
  color: #000;
  opacity: 1;
}

.modal-content {
  border-radius: 0;
  border: none;
  padding: 1.5em 2em;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  text-align: center;
}

.modal-footer .btn {
  border-radius: 0;
  padding: 0;
  width: 5em;
  height: 3em;
  line-height: 3em;
}

.modulo-filtro {
  margin: 1.5em 0;
  border-top: 1px solid #2C72B4;
  padding-top: 1em;
}

.modulo-filtro.modulo-promedio {
  margin-bottom: 2.7em;
}

#rangoPromedio {
  width: 180px;
  margin: 0 10px;
}

#rangoPromedio .slider-track {
  border-radius: 0;
  background-color: #F1F7F8;
  background-image: none;
}

#rangoPromedio .slider-selection {
  background-color: #fff;
  background-image: none;
}

#rangoPromedio .slider-handle.triangle {
  border-top-color: #2C72B4;
  border-width: 10px 10px 0;
}

#rangoPromedio .tooltip {
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
}

#rangoPromedio .tooltip .tooltip-arrow {
  display: none;
}

#rangoPromedio .tooltip .tooltip-inner {
  background-color: transparent;
  color: #000;
  padding-top: 0;
}

.checkbox-container {
  margin-left: 20px;
}

.select-filtro {
  background-color: #F1F7F8;
  font-weight: 700;
  color: #000;
}

.select-filtro option {
  border: none;
  padding: 0.25em 0.5em;
}

#bodyFiltro {
  position: relative;
}

#bodyFiltro .filtros-bg {
  position: fixed;
  overflow: hidden;
  z-index: 1010;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#bodyFiltro .filtros-contenedor {
  position: fixed;
  z-index: 1020;
  top: 10%;
  bottom: 10%;
  right: 0;
  overflow-y: scroll;
  width: 25%;
  max-width: 380px;
  padding: 2em;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

@media (max-width: 991px) {
  #bodyFiltro .filtros-contenedor {
    width: 50%;
  }
}

@media (max-width: 767px) {
  #bodyFiltro .filtros-contenedor {
    width: 80%;
  }
}

#bodyFiltro .filtros-contenido {
  overflow-y: visible;
}

#bodyFiltro a.cerrar-filtros {
  position: absolute;
  top: 3em;
  right: 1.5em;
  z-index: 1050;
}

#bodyFiltro.mostrar-filtros {
  overflow: hidden;
}

#bodyFiltro.mostrar-filtros .filtros-bg {
  display: block;
}

#bodyFiltro.mostrar-filtros .filtros-contenedor {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.input-buscar {
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  background-color: #2C72B4;
  font-weight: 700;
  border: none;
  transition: background-color 0.2s ease;
}

.input-buscar.placeholder {
  font-weight: 700;
  color: #F1F7F8;
}

.input-buscar:-moz-placeholder {
  font-weight: 700;
  color: #F1F7F8;
}

.input-buscar::-moz-placeholder {
  font-weight: 700;
  color: #F1F7F8;
}

.input-buscar:-ms-input-placeholder {
  font-weight: 700;
  color: #F1F7F8;
}

.input-buscar::-webkit-input-placeholder {
  font-weight: 700;
  color: #F1F7F8;
}

.input-buscar:focus {
  box-shadow: none;
  background-color: #C7DEE2;
  color: #2C72B4;
  transition: background-color 0.2s ease;
}

.input-buscar:focus.placeholder {
  color: #2C72B4;
}

.input-buscar:focus:-moz-placeholder {
  color: #2C72B4;
}

.input-buscar:focus::-moz-placeholder {
  color: #2C72B4;
}

.input-buscar:focus:-ms-input-placeholder {
  color: #2C72B4;
}

.input-buscar:focus::-webkit-input-placeholder {
  color: #2C72B4;
}

.input-buscar:focus ~ .input-group-btn > .btn-buscar {
  background-color: #C7DEE2;
  transition: background-color 0.2s ease;
}

.input-buscar:focus ~ .input-group-btn > .btn-buscar .glyphicon {
  color: #2C72B4;
}

.btn-buscar {
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: #2C72B4;
  min-height: 34px;
  transition: background-color 0.2s ease;
}

.btn-buscar .glyphicon {
  color: #F1F7F8;
  font-size: 1.125em;
}

.buscar-listado {
  border-bottom: 2px solid #C7DEE2;
  margin-top: 7px;
}

.buscar-listado:hover .input-buscar {
  background-color: #C7DEE2;
  color: #2C72B4;
  transition: background-color 0.2s ease;
}

.buscar-listado:hover .input-buscar.placeholder {
  color: #2C72B4;
}

.buscar-listado:hover .input-buscar:-moz-placeholder {
  color: #2C72B4;
}

.buscar-listado:hover .input-buscar::-moz-placeholder {
  color: #2C72B4;
}

.buscar-listado:hover .input-buscar:-ms-input-placeholder {
  color: #2C72B4;
}

.buscar-listado:hover .input-buscar::-webkit-input-placeholder {
  color: #2C72B4;
}

.buscar-listado:hover .btn-buscar {
  background-color: #C7DEE2;
  transition: background-color 0.2s ease;
}

.buscar-listado:hover .btn-buscar .glyphicon {
  color: #2C72B4;
}

.contenedor-ordenar {
  background-color: #C7DEE2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  padding: 1em 0.5em;
  width: 240px;
}

.dropdown.open .link-nav-listado {
  background-color: #C7DEE2;
}

.dropdown.open .link-nav-listado .texto-nav,
.dropdown.open .link-nav-listado .glyphicon {
  color: #2C72B4;
}

.select-ordenar {
  background-color: #F1F7F8;
  font-weight: 700;
  color: #000;
  margin-top: 1em;
}

.select-ordenar option {
  border: none;
  padding: 0.25em 0.5em;
}

.modo-orden label {
  position: relative;
  cursor: pointer;
  padding: 0.25em 0.75em;
}

.modo-orden .glyphicon {
  font-size: 21px;
  color: #2C72B4;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 0 0.25em;
  border-radius: 100%;
  background-color: transparent;
}

.modo-orden input[type='radio'] {
  position: absolute;
  left: -999em;
}

.modo-orden input[type='radio']:checked ~ .glyphicon {
  background-color: #2C72B4;
  color: #fff;
}

footer.pie-pagina {
  background-color: #666;
  color: #fff;
  padding: 3em 0.5em;
  margin-top: 3em;
}

footer.pie-pagina.pie-home {
  margin: 0;
}

footer.pie-pagina a {
  color: #fff;
}

footer.pie-pagina .subfooter {
  margin-top: 3em;
  font-size: 0.85em;
}

footer.pie-pagina .logo-mpt {
  max-width: 195px;
}

@media (max-width: 767px) {
  footer.pie-pagina .marca-container {
    text-align: center;
  }
}

footer.pie-pagina .mpt-by .texto-servicio {
  font-size: 0.85em;
  position: relative;
  top: 1em;
}

footer.pie-pagina .mpt-by .uibb-blanco {
  width: 107px;
  height: 43px;
}

@media (max-width: 767px) {
  footer.pie-pagina .mpt-by {
    text-align: center;
  }
}

footer.pie-pagina .nav-list li {
  padding: 0;
}

footer.pie-pagina .nav-list li::before {
  content: "|";
  padding: 0 0.5em;
}

@media (max-width: 767px) {
  footer.pie-pagina .nav-list li::before {
    padding: 0 0.2em;
  }
}

footer.pie-pagina .nav-list li:first-child::before {
  display: none;
}

footer.pie-pagina .nav-list.menu-principal {
  margin-top: 4.5em;
}

@media (max-width: 767px) {
  footer.pie-pagina .nav-list.menu-principal {
    margin-top: 2em;
  }
}

@media (max-width: 767px) {
  footer.pie-pagina .text-right,
  footer.pie-pagina .text-left {
    text-align: center;
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(241, 247, 248, 0.75);
  z-index: 1200;
  display: none;
}

body.esperando {
  overflow: hidden;
}

body.esperando .spinner-container {
  display: block;
}

.spinner {
  background-color: #2C72B4;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  padding: 2em 0;
}

.spinner .logo-spinner {
  fill: #fff;
  width: 150px;
}

.spinner .ball {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #F1F7F8;
  -webkit-animation: motion 3s cubic-bezier(0.5, 0, 0.2, 1) infinite;
          animation: motion 3s cubic-bezier(0.5, 0, 0.2, 1) infinite;
  margin: 10px auto;
}

.spinner .loading {
  margin: 10px auto;
}

.spinner .loading .bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #F1F7F8;
  -webkit-animation: animIn 1.1s ease-in-out 0s infinite;
          animation: animIn 1.1s ease-in-out 0s infinite;
}

.spinner .loading .bullet:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.spinner .loading .bullet:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.spinner .loading .bullet:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.spinner .loading .bullet:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3);
            transform: translateX(-100px) scale(0.3);
  }
  50% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  75% {
    -webkit-transform: translateX(100px) scale(0.3);
            transform: translateX(100px) scale(0.3);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3);
            transform: translateX(-100px) scale(0.3);
  }
  50% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  75% {
    -webkit-transform: translateX(100px) scale(0.3);
            transform: translateX(100px) scale(0.3);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes animIn {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}

@keyframes animIn {
  0% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
