@media print {
  @page {
    size: A4;
    margin: 0;
  }
  /* line 14, ../scss/print-pdf.scss */
  body {
    font-size: 9.5pt;
  }

  /* line 18, ../scss/print-pdf.scss */
  h2, .h2,
  h3, .h3,
  h4, .h4 {
    page-break-after: avoid;
  }

  /* line 24, ../scss/print-pdf.scss */
  a[href]:after {
    display: none;
  }

  /* line 28, ../scss/print-pdf.scss */
  .nav-listado,
  .acceso-usuario-container,
  .pie-pagina {
    display: none;
  }

  /* line 34, ../scss/print-pdf.scss */
  .container-general-flex {
    min-height: 0;
  }

  /* line 37, ../scss/print-pdf.scss */
  .container {
    padding: 1cm 1cm 0.5cm;
  }

  /* line 41, ../scss/print-pdf.scss */
  .header-acceso {
    padding: 0;
    margin-top: 0.5cm;
  }
  /* line 45, ../scss/print-pdf.scss */
  .header-acceso .marca-container {
    margin: 0 auto;
  }

  /* line 50, ../scss/print-pdf.scss */
  .alumno-individual {
    margin-top: 0.5cm;
  }
  /* line 53, ../scss/print-pdf.scss */
  .alumno-individual .fa-li::before,
  .alumno-individual .texto-azul {
    color: #2C72B4 !important;
  }
  /* line 58, ../scss/print-pdf.scss */
  .alumno-individual .alumno-info-principal {
    display: block;
    border-bottom: 2px solid #2C72B4;
  }
  /* line 18, ../scss/_mixins.scss */
  .alumno-individual .alumno-info-principal:before, .alumno-individual .alumno-info-principal:after {
    content: " ";
    display: table;
  }
  /* line 23, ../scss/_mixins.scss */
  .alumno-individual .alumno-info-principal:after {
    clear: both;
  }
  /* line 66, ../scss/print-pdf.scss */
  .alumno-individual .alumno-info-principal .contenedor-foto,
  .alumno-individual .alumno-info-principal .info-alumno {
    float: left;
  }
  /* line 70, ../scss/print-pdf.scss */
  .alumno-individual .alumno-info-principal .promedio {
    float: right;
  }
  /* line 75, ../scss/print-pdf.scss */
  .alumno-individual .contenedor-foto {
    width: auto;
    margin: 0 0.5cm 0.5cm 0.25cm;
  }
  /* line 80, ../scss/print-pdf.scss */
  .alumno-individual .foto-alumno {
    width: 2cm;
    height: 2cm;
    margin: 0;
    border-radius: 0;
  }
  /* line 86, ../scss/print-pdf.scss */
  .alumno-individual .foto-alumno.sin-foto {
    display: none;
  }
  /* line 91, ../scss/print-pdf.scss */
  .alumno-individual .info-alumno {
    width: 12cm;
  }
  /* line 96, ../scss/print-pdf.scss */
  .alumno-individual .nombre-alumno {
    font-size: 1.8em;
    margin: 0 0 0.25em;
  }
  /* line 102, ../scss/print-pdf.scss */
  .alumno-individual .datos-alumno span {
    margin: 0.5em 1em 0.5em 0;
  }
  /* line 107, ../scss/print-pdf.scss */
  .alumno-individual .promedio {
    width: 2.5cm;
    padding: 1.5em 0.25em 0.5em;
  }
  /* line 111, ../scss/print-pdf.scss */
  .alumno-individual .promedio .promedio-valor {
    color: #2C72B4 !important;
  }
  /* line 116, ../scss/print-pdf.scss */
  .alumno-individual .fila-flex {
    display: block !important;
  }
  /* line 18, ../scss/_mixins.scss */
  .alumno-individual .fila-flex:before, .alumno-individual .fila-flex:after {
    content: " ";
    display: table;
  }
  /* line 23, ../scss/_mixins.scss */
  .alumno-individual .fila-flex:after {
    clear: both;
  }
  /* line 121, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos {
    width: 6.5cm;
    margin-right: 0.5cm;
    float: left;
  }
  /* line 126, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos section {
    margin-bottom: 1em;
  }
  /* line 131, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos section.contacto-alumno {
    border-top: none;
  }
  /* line 137, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos section.contacto-docente li {
    padding: 0.1em 0 0.2em;
  }
  /* line 143, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos .lista-contacto {
    margin-top: 1em;
  }
  /* line 146, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos .lista-contacto li {
    padding: 0.5em 0 0.5em 0.5em;
  }
  /* line 150, ../scss/print-pdf.scss */
  .alumno-individual .info-contactos .lista-contacto .fa-li {
    background-color: #2C72B4;
    color: #fff;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    font-size: 10pt;
    line-height: 2em;
    padding: 0;
  }
  /* line 163, ../scss/print-pdf.scss */
  .alumno-individual .info-detalle {
    width: 10cm;
    padding: 1em 0.5em 0;
    float: left;
  }
  /* line 168, ../scss/print-pdf.scss */
  .alumno-individual .info-detalle section {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
  /* line 172, ../scss/print-pdf.scss */
  .alumno-individual .info-detalle section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  /* line 179, ../scss/print-pdf.scss */
  .alumno-individual .info-detalle .lista-actitudes li {
    padding: 0.5em 0;
    margin-right: 2.5em;
  }
  /* line 184, ../scss/print-pdf.scss */
  .alumno-individual .info-detalle .lista-actitudes .fa-li {
    left: -1.75em;
    width: 1.8em;
    top: 0.75em;
  }
}
