//ESTILOS GENERALES
html{
  height: 100%;
}

body{
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
  @include  h-font($font-size-h1);
  margin-top: pxToEm($line-height-computed, $font-size-h1);
  margin-bottom: pxToEm(($line-height-computed / 2), $font-size-h1);
}
h2, .h2 {
  @include  h-font($font-size-h2);
  margin-top: pxToEm($line-height-computed, $font-size-h2);
  margin-bottom: pxToEm(($line-height-computed / 2), $font-size-h2);
}
h3, .h3 {
  @include  h-font($font-size-h3);
  margin-top: pxToEm($line-height-computed, $font-size-h3);
  margin-bottom: pxToEm(($line-height-computed / 2), $font-size-h3);
}
h4, .h4 {
  @include  h-font($font-size-h4);
  margin-top: pxToEm(($line-height-computed / 2), $font-size-h4);
  margin-bottom: pxToEm(($line-height-computed / 2), $font-size-h4);
}
h5, .h5 {
  font-size: $font-size-h5;
  margin-top: pxToEm(($line-height-computed / 2), $font-size-h5);
  margin-bottom: pxToEm(($line-height-computed / 2), $font-size-h5);
}
h6, .h6 {
  font-size: $font-size-h6;
  margin-top: pxToEm(($line-height-computed / 2), $font-size-h6);
  margin-bottom: pxToEm(($line-height-computed / 2), $font-size-h6);
}


.subtitulo{
  font-size: pxToEm(16px);
  text-transform: uppercase;
}
.texto-azul{
  color: $azul;
}
.texto-gris{
  color: $gris-claro;
}
.texto-celeste{
  color: $celeste;
}
.texto-negro{
  color: #000;
}
.texto-blanco{
  color: #fff;
}

p.texto-especial{
  font-size: pxToEm(18px);
  margin: 2em 0;
}

.bg-azul{
  background-color: $azul;
}

.hide-svg{
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  margin-top: -999em;
}

.fila-flex{
  display: flex;
  justify-content: flex-start;
}
.center-flex{
  display: flex;
  justify-content: center;
}

.container-general-flex{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}

//.container{
//  margin-top: 1.5em;
//}

// #contenedorPrincipal{
  // margin-bottom: 1.5em;
// }

.panel{
  border-radius: 0;

  .panel-heading{
    border-radius: 0;
    border-bottom: none;
  }
}

.panel-bg-color{
  background-color: $gris-claro;
  border-top: 2px solid $azul;
  padding:1.5em;
}

figure.foto-bg{
  border-radius: 100%;
  background: transparent no-repeat center center /cover;
  overflow: hidden;
}

.dropdown-menu{
  border: none;
  margin: 0;
  border-radius: 0;
}

//LOGOS
.logo-mpt{
  &.logo-blanco{
    fill: #fff;
  }
  &.logo-azul{
    fill: $azul;
  }
}

.logo-uibb{
  text-indent: -999em;
  //width: 107px;
  //height: 43px;
  display: inline-block;
  background: transparent no-repeat center right /cover;

  &.uibb-blanco{
    background-image: url(../img/logo-uibb-blanco.png);
  }
  &.uibb-negro{
    background-image: url(../img/logo-uibb-negro.png);
  }
}

//HEADERS
.acceso-usuario-container{
  align-self: center;

  .fila-flex{
    align-items: center;
  }
}

.foto-usuario{
  width: 50px;
  height: 50px;
  margin-right: 1em;
  flex-shrink: 0;

}

.foto-item,.foto-usuario {
  &.sin-foto{
    &.foto-institucion{
      background-image: url(../img/escuela-sin-foto.png);
    }
    &.foto-asociado{
      background-image: url(../img/asociado-sin-foto.png);
    }
  }
}

.nombre-usuario{
  margin-right: 1em;
}

#dropdownMenu{
  color: #000;
  text-decoration: none;

  &:hover,
  .open &{
    color: $azul;
  }
}

.btn-menu-general{
  font-size: 18px;
  //width: 2.5em;
  height: 50px;
  background-color: transparent;
  border: 2px solid $azul;
  color: $azul;

  a:hover > &,
  .open &{
    background-color: $gris-claro;
    color: #000;
  }

}
.btn-menu-usuario{
  font-size: 21px;
  width: 2.5em;
  height: 50px;
  background-color: transparent;
  border: none;
  color: $celeste;

  a:hover > &,
  .open &{
    background-color: $gris-claro;
    color: #000;
  }

}

.submenu-usuario{
  right: 0;
  left: auto;
  background-color: $gris-claro;
  box-shadow: -2px 2px 2px rgba(#000, 0.25);
  //text-align: right;
  padding: 1em;
  min-width: 180px;

  li{
    padding: 0.5em 0.5em 0.5em 1em;
    
    //&:hover{
    //  background-color: $celeste;
    //}

    a{
      padding: 0;

      &:hover{
        background-color: transparent;
        color: $azul;
      }
    }
  }
}

.separador-menu{
  margin: 0.75em auto;
  color: $celeste;
}

.btn-acceder{
  //height: 50px;
  //line-height: 50px;
  display: block;
  align-self: center;
  font-size: pxToEm(18px);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 0.75em 2em;
  background-color: transparent;
  border: 2px solid;

  @include media('<desktop'){
    font-size: pxToEm(15px);
  }

  .glyphicon{
    //font-size: 14px;
    margin:0 0 0 0.75em;
    vertical-align: -8%;
  }

  &.btn-linea-blanco{
   @extend .texto-blanco;
  }
  &.btn-linea-azul{
    @extend .texto-azul;
  }
  &.btn-linea-negro{
    @extend .texto-negro;
  }
  &.btn-full-azul{
    border-color:$azul;
    background-color: $azul;
    color: #fff;
  }
  &.btn-max-360{
    width: 90%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover,
  &:active,
  &:focus{
    background-color: $gris-claro;
    color: $azul;
    border-color: $gris-claro;
    text-decoration: none;
  }
  &.btn-h-celeste:hover{
    background-color: $celeste;
    border-color: $celeste;
  }
}

//Header simple
.header-simple{
  margin: 1em auto 1.5em;
  padding: 1em 0;

  .marca-container{
    text-align: center;
    a{
       display: block;
    }
  }

  .logo-mpt{
    max-width: 280px;
    width: 75%;
    //margin: 0 auto;
    text-align: center;
  }

  .logo-uibb{
    width:140px;
    height:44px;
  }

  .mpt-by{
    margin-top: 0.5em;
    text-align: center;

    .texto-servicio{
      position: relative;
      top: 1em;
    }
  }
}

//Header usuario logeado
.header-acceso{
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  margin: 0 auto;

  @include media('<tablet'){
    flex-direction: column;
  }

  .marca-container{
    padding-right: 20px;
    text-align: left;

    @include media('<tablet'){
      text-align: center;
      margin-bottom: 1em;
    }

    a{
       display: block;

      .logo-mpt{
        width: 165px;
      }
    }
  }

  &.sin-acceso{
    .btn-acceder{
      font-size: 15px
    }
  }
}

.acceso-usuario-container{
  .nombre-docente,
  .nombre-entidad{
    display: block;
  }
}

//Header Home
.header-home{
  //justify-content: space-between;
  //padding: 3em 0 5em;
  margin: 0 auto 2em;
  position: relative;
  min-height: 85vh;

  .contenido-header-home{
    padding: 1em 0 4em;
  }

  .marca-home {
    width: 75%;
    max-width: 350px;
    margin: 3em auto;

    @include media('<tablet'){
      max-width: 280px;
      margin: 2em auto;
    }

    .logo-mpt {
      width: 100%;
    }
  }

  //h1{
  //  @include media('<tablet'){
  //    font-size: 20px;
  //  }
  //}

  .mpt-by{
    margin: 1em auto 5em;
    text-align: center;

    @include media('<tablet'){
      margin-bottom: 3em;
    }
  }

  .texto-servicio{
    font-size: 16px;
    //vertical-align: 5px;
  }

  .logo-uibb{
    width: 150px;
    height: 48px;
   // margin-left: 2px;
    vertical-align: 30px;
  }

  .btn-acceder{
    margin: 2em auto 1em;

    @include media('<tablet'){
      font-size: 15px;
    }
  }

  .btn-registro{
    font-size: 0.9em;
    background-color: rgba($azul, 0.5);
    border: 1px solid $azul;
    color: #fff;
    width: 90%;
    max-width: 360px;
    margin: 0.5em auto 1.5em;
    padding: 0.8em;
  }

  .login-nav-home{
    background : linear-gradient(180deg, rgba(44, 114, 179, 1) 20%, rgba(44, 114, 179, 0) 100%);

    .contenedor-acceso{
      padding: 2em 1.5em;

      @include media('<tablet'){
        padding: 1.5em;
      }
    }

    .acceso-usuario-container{
      align-self: flex-end;
      margin-left: auto;

      @include media('<tablet'){
        align-self: center;
        margin: auto;
      }
    }
  }
}

.header-bg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: $azul;

  .carousel,
  .carousel-inner,
  .item{
    width: 100%;
    height: 100%
  }

  .item{
    background: $azul no-repeat /cover;
  }

  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }

      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 0.8;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

main.gap-header-acceso{
  margin-top: 1.5em;
}

//Contenido Home
.contenido-home{

  .foto--seccion-info{
    max-width: 220px;
    width: 100%;
    margin: 0 auto;

    @include media('<desktop'){
      max-width: 180px;
    }
  }

  section.info-home{
    padding: 1em 0;
    margin: 1em auto;
  }

  h2.titulo-seccion{
    margin-bottom: 0.75em;
  }

  .subtitulo-empresas{
    font-size: 1.333em;
    margin: 1em auto;
  }

  .logos-organizadores{
    .logo-img{
      max-height: 75px;
      margin: 2em auto 1.5em;
    }
    .logo-bsas{
      margin: 1.5em auto;
    }
    .logo-profertil{
      max-height: 150px;
      margin: 0 auto;
    }
    .logo-dow{
      max-height: 80px;
      margin: 1.5em auto;
    }
  }

  .info--participantes{
    padding: 1em 0;
    margin: 2em auto 1em;

    @include media('<desktop'){
      margin: 1em auto;
    }
  }

  .btn-banner{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $celeste;
    padding: 1.5em;
    margin: 1em auto 2em;

    @include media('<desktop'){
      max-width: 360px;
      padding: 1em;
    }

    .banner-icono{
      width: 20%;
      max-width: 100px;
      margin-right: 1.5em;

      @include media('<desktop'){
        margin-right: 0.75em;
      }
    }

    .banner-texto{
      h4{
        font-size: pxToEm(21px);
        margin: 0 0 0.15em;
        font-weight:700;

        @include media('<desktop'){
          font-size: pxToEm(18px);
        }
      }
      p{
        font-size: pxToEm(16px);
        font-weight:700;
        margin-bottom: 0;

        @include media('<desktop'){
          font-size: pxToEm(14px);
        }
      }
    }

    &:hover,
    &:active,
    &:focus{
      background-color: $gris-claro;
      text-decoration: none;
    }
  }

  .sub-sec-acceso{
    margin-top:1.5em;
    margin-bottom:2em;

    p{
      font-size: 16px;
      margin-bottom: 1.5em;
    }
  }

  .jumbotron{
    margin-bottom: 0;
  }

  section.info-contacto{
    padding: 2em 0;

    p.texto-especial{
      font-size: pxToEm(24px);
      margin: 0 auto 1.5em;

      @include media('<desktop'){
        font-size: pxToEm(18px);
      }
    }
  }
}



// .btn-cambiar-vista.activo{
//   background-color: #595959;
//   color: #959595;

//   &:hover,
//   &:active,
//   &:focus{
//     background-color: #595959;
//     color: #959595;
//   }
// }

//Formularios
.form-control{
  border: none;
  border-radius: 0;
  box-shadow: none;

  @include input-placeholder{
    font-weight: 700;
  }

  &:focus{
    box-shadow: none;
  }
}

select{
  margin-bottom: 1.5em;
}

button[type="submit"].btn-primary{
  width: 100%;
  max-width: 300px;
  display: block;
  border-radius: 0;
  border: none;
  background-color: $azul;
  padding: 1em;
  color: #fff;
  font-weight: 700;

  &:hover{
    background-color: $celeste;
    color: $azul;
  }
}

.form-mpt{
  fieldset{
    margin-top: 2em;

    legend{
      border: none;
      padding-left: 1em;
    }
  }

  .form-group{
    margin-bottom: 1em;
    padding-top: 1em;

    .radio label{
      margin-left: 0.75em;
    }

    .input-label{
      padding-left: 7px;
      margin-bottom: 0;
      transform: translate(0, 0em);
      transition: transform 0.2s ease;
    }

    &.cargado{
      .input-label{
        width: auto;
        height: auto;
        clip: auto;
        transform: translate(0, -1.25em);
        transition: transform 0.2s ease;
      }

      .form-control{
        background-color: $gris-claro;
        //border-color: $celeste;
        transition: background 0.2s ease;
      }

      .input-group-btn-vertical{
        .btn-promedio{
          //border-radius: 0 !important;
          background-color: $gris-claro;
        }
      }
    }
  }

  .form-control{
    border-bottom: 1px solid $celeste;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color: #000;

    @include input-placeholder(){
      color: #000;
    }

    &:focus{
      background-color: $gris-claro;
      //border-color: $celeste;
      transition: background 0.2s ease;
    }
  }

  .input-group-btn-vertical{
    .btn-promedio{
      border-radius: 0 !important;
      background-color: #fff;

      &.bootstrap-touchspin-down{
        border-bottom: 1px solid $celeste;
      }

      &:hover{
        background-color: $celeste;
      }
    }
  }
}

.form-mpt:not(.login-form) {
  .has-error {
    .form-control {
      border: 1px solid $color-error;
    }
    .radio {
      color: $color-error;
    }
  }
}


.form-invertido{
  .form-control{
    background-color: $gris-claro;
    border-color: #000;

    &:focus{
      background-color: #fff;
    }
  }

  .form-group{
    margin-bottom: 2em;

    &.cargado .form-control{
      background-color: #fff;
    }
  }

  .btn-login{
    margin-top: 3em;
  }
}

//Carga de datos de alumno
.cargar-alumno,
.editar-alumno{
  margin: 1.5em auto;

  .fila-flex{
    justify-content: space-between;
    flex-flow: row wrap;
  }
}

.cargar-datos{
  width: 67%;
  padding: 0 0.5em;

  @include media('<desktop'){
    width: 100%;
  }
}

  //.titulo-seccion{
  //  padding-left: 1em;
  //}


.datos-fijos{
  width: 30%;

  @include media('<desktop'){
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5em auto 0;
  }
  @include media('<tablet'){
    max-width: 480px;
    flex-direction: column;
  }

  .foto-alumno{
    width: 220px;
    height: 220px;
    background-image: url(../img/foto-alumno-back.png);
    margin: 0.5em auto;

    @include media('<desktop'){
      width: 180px;
      height: 180px;
    }

  }

  label.cargar-foto-btn{
    position: relative;
    cursor: pointer;
    margin: 1em auto;
    width: 100%;

    input[type="file"]{
      position: absolute;
      left: -999em;
    }

    &:hover{
      color: $azul;
    }
  }

  .cargar-foto{
    padding: 0 1.5em;

    @include media('<desktop'){
      width: 48%;
      max-width: 360px;
      margin: 0 auto;
    }
    @include media('<tablet'){
      width: 100%;
    }

    .error {
      color: $color-error;
      display: none;
    }
    &.has-error {
      .error {
        display: block;
      }
    }
  }

  .guardar-datos{
    //background-color: $gris-claro;
    //border-top: 2px solid $azul;
    //padding: 1.5em;
    margin-top: 3em;

    @include media('<desktop'){
      width: 48%;
      margin-top: 1.5em;
    }
    @include media('<tablet'){
      width: 100%;
    }
  }

  .contenedor-btns{
    margin: 2em auto 0;
  }
  .panel-privado{
    margin: 0 auto 0.75em;

    .panel-body{
      padding: 0;
    }
    .checkbox{
      margin: 0;

      label{
        padding: 0.75em 1em;
      }
      input[type="checkbox"]{
        right: 15px;
      }
    }
  }
  .btn-guardar{
    margin: 0.5em auto;
  }
  .btn-descartar{
    text-align: center;
    width: 100%;
  }
}

//LOGIN
.login-form{
  padding: 2em 3em;
  margin: 1em auto 4em;

  a.recuperar-pass {
    margin-top: 1em;
  }
}

.btn-registro{
  background-color: $celeste;
  color: $azul;
  font-weight: 700;
  margin: 2em auto;
  display: block;
  max-width: 310px;
  padding: 1.25em;
  border-radius:0;

  &:hover{
    background-color: $azul;
    color: #fff;
  }
}

.recu-form{
  padding: 1em 2em;

  @include media('<tablet'){
    padding: 0;
  }
}

.soporte-form{
  padding: 2em 3em;
  margin: 1.5em auto;

  @include media('<tablet'){
    padding: 1.5em;
  }
}
.contacto-form{
  padding: 2em 3em;
  margin: 1.5em auto 3em;

  @include media('<tablet'){
    padding: 1.5em;
  }
}

//Form Tabs
.form-tabs{
  margin-top: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  li{
    width: 50%;
    a{
      text-align: center;
      font-weight: 700;
      font-size: 1.125em;
      color: #000;
      border-radius: 0;
      margin: 0;
      height: 100%;

      @include media('<tablet'){
        font-size: 1em;
        padding: 0.75em 0.5em;
      }

      &:hover,
      &:focus,
      &:active{
        background-color: $gris-claro;
        //color: $azul;
      }
    }

    &.active{
      a,
      a:hover,
      a:focus,
      a:active{
        background-color: $celeste;
        color: $azul;
      }
    }
  }
}

.form-tab-content{
  margin-bottom: 1.5em;
}

//Elementos Alumnos
.foto-alumno{
  margin: 0 auto;

  &.sin-foto.masculino{
    background-image: url(../img/alumno-sin-foto-masculino.png);
  }
  &.sin-foto.femenino{
    background-image: url(../img/alumno-sin-foto-femenino.png);
  }
}

.promedio{
  background-color: $azul;
  padding: 0.75em 1em;
  //margin-left: -0.75em;
  text-align: center;

  @include media('<tablet') {
    padding: 0.5em;
  }


  .promedio-titulo{
    color: $celeste;
    text-transform: uppercase;
    //margin: 0 1.5em 0 0;
    //vertical-align: 12.5%;
    display: block;
    line-height: 1.2;
  }

  .promedio-valor{
    font-size: (24/14 * 1em);
    font-weight: 700;
    color: #fff;

    @include media('<tablet') {
      font-size: (20/14 * 1em);
    }
  }
}

.nombre-alumno{
  font-weight: 700;
}

.datos-alumno{
  span{
    margin: 0.5em 0;
    display: inline-block;
    &.escuela,&.especialidad {
      display: block;
    }
  }
  strong{
    display: block;
    //margin-top: 0.5em;
  }
}

.label-privado{
  vertical-align: 25%;
  margin-left: 0.5em;
}

//Listado de alumnos
.contenedor-lista{
  margin: 1.5em auto 0;
  padding: 0;
  // width: 100%;

  .panel-danger.error, .panel-warning.filtro-vacio, .panel-warning.sin-alumnos {
    display: none;
  }


  &.loading {
    .spinner-container {
      display: block;
    }
    ul.lista-alumnos {
      display: none;
    }
    ul.pagination {
      display: none;
    }
  }
  &.error-get {
    .panel-danger.error {
      display: block;
    }
  }
  &.filtro-vacio {
    .panel-warning.filtro-vacio {
      display: block;
    }
  }
  &.sin-alumnos {
    .panel-warning.sin-alumnos {
      display: block;
    }
  }


  ul.lista-alumnos,
  ul.lista-instituciones{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    //justify-content: space-between;
    width: 100%;
  }

  li.item,
  li.item-alumno{
    width: 32%;
    margin: 1em (2/3 * 1%);
    padding: 1.25em 0.75em 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    //justify-content: center;
    //align-items: center;
    transition: background 0.1s 0.2s ease;

    @include media('<desktop'){
      width: 46%;
      margin: 1em 1%;
    }
    @include media('<tablet') {
      width: 96%;
      max-width: 400px;
      margin: 0.75em auto;
    }

    &::after{
      display: block;
      content: '';
      width: 100%;
      border-bottom: 1px solid $celeste;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &:hover,
    &.item-marcado{
      background-color: $gris-claro;
      transition: background 0.3s ease;
      // .btn-acciones{
      //   display: block;
      // }

      .nombre-alumno a{
        color: $azul;
      }

      &::after{
        border-color: $azul
      }
    }
  }

  .foto-item,
  .foto-alumno{
    width: 160px;
    height: 160px;
  }

  .nombre-alumno{
    font-size: 1.5em;
    //font-size: 21px;
    //font-weight: 700;
    text-align: center;

    @include media('<desktop'){
      font-size: 1.3em;
    }

    a{
      color: #000;
    }
  }



  .datos-personales{
    span{
      margin-left: 1.3em;

      &:first-child{
        margin-left: 0;
      }
    }
  }

  .info-alumno{
    margin-bottom: 1em;
  }

  .ultimo-bloque{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: auto;
  }

  .promedio{
    //background-color: $azul;
    //padding: 0.75em 1em;
    margin-left: -0.75em;
    text-align: left;

    .promedio-titulo{
      //color: $celeste;
      //text-transform: uppercase;
      margin: 0 1.5em 0 0;
      vertical-align: 12.5%;
      display: inline;
    }

    //.promedio-valor{
    //  font-size: (24/14 * 1em);
    //  font-weight: 700;
    //  color: #fff;
    //}
  }

  .btn-acciones{
    //display: none;
    align-self: center;
    .btn{
      border-radius: 100%;
      width: (36/14*1em);
      height: (36/14*1em);
      line-height: (36/14*1em);
      padding: 0;
      margin: 5px;
      background-color: $azul;
      border: none;
      box-shadow: none;
      transition: background 0.15s ease;

      .glyphicon{
        text-align: center;
        font-size: 1.25em;
        color: #fff;
        vertical-align: -20%;
        //margin-top: 0.3em ;
        transition: all 0.15s ease;
      }
      &:hover{
        background-color: $celeste;
        transition: background 0.15s ease;

      .glyphicon{
        color: $azul;
        transition: all 0.15s ease;
      }
    }
   }
   // .tooltip-inner{
   //    background-color: #fff;
   //    color: $azul;
   //    font-weight: 700;
   //  }
   //  .tooltip-arrow{
   //    border-bottom-color: $azul;
   //  }
 }


  &.vista-listado{

    li.item,
    li.item-alumno{
      width: 100%;
      margin: 1em auto;
      padding: 0;
      border-top-left-radius: 135px;
      border-bottom-left-radius: 135px;

      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;

      @include media('<desktop'){
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 0;
      }
      @include media('<tablet') {
        max-width: 460px;
        margin: 1em auto;
      }

      &:after{
        //display: contents;
        height: 0;
        width: calc(100% - 140px);

        @include media('<desktop'){
          width: 100%;
        }
      }
    }

    .link-foto-alumno,
    .foto-no-link{
      align-self: center;
      flex-shrink: 0;

      @include media('<desktop'){
        align-self: flex-start;
      }
    }

    .foto-alumno{
      width: 135px;
      height: 135px;
      margin-right: 1.5em;

      @include media('<desktop'){
        width: 100px;
        height: 100px;
        margin-right: 1em;
      }
    }

    .nombre-alumno{
      text-align: left;
    }
    .info-alumno{
      flex: 1;
      margin-bottom: 0;
    }
    .datos-alumno{
      display: flex;
      flex-flow: row nowrap;

      @include media('<desktop'){
        flex-direction: column;
      }

      .datos-personales{
        width: 39%;

        @include media('<desktop'){
          width: 100%;
        }
      }
      .datos-academicos{
        width: 59%;

        @include media('<desktop'){
          width: 100%;
        }
      }

      span{
        display: block;
        margin: 0 0 0.5em;
      }
      strong{
        display: inline;
      }
    }

    .ultimo-bloque{
      align-self: flex-end;
      margin-left: auto;
      margin-top: 0;
      flex-direction: column-reverse;

      @include media('<tablet'){
        position: absolute;
        left: 0;
        bottom: 5px;
      }
    }
    .promedio{
      text-align: center;
      padding: 0.5em;

      .promedio-titulo{
        display: block;
        margin: 0;
      }
    }

    .btn-acciones{
      align-self: center;
    }
  }

  &.vista-empresa{

    // .ultimo-bloque{
    //   align-self: center;
    // }

    // .checkbox{
    //   padding: 0 1em;
    // }
  }
  &.vista-escuela {
    .promedio{
      @include media('<tablet'){
        display: none;
      }
    }
  }

  .item-datos{
    p{
      margin-bottom: 0.3em;
    }
  }

  ul.lista-2col{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li.item{
      width: 48%;
      margin-left: 0;
      margin-right: 0;
      justify-content: flex-start;

      @include media('<desktop') {
        //max-width: 98%;
        width: 98%;
        margin: 0.5em auto;
        //justify-content: center;
      }
      @include media('<tablet') {
        max-width: 98%;
       }

      .foto-item{
        width: 150px;
        height: 150px;
        margin-right: 1.5em;

        @include media('<desktop') {
          width: 100px;
          height: 100px;
          margin-right: 1em;
        }
      }
    }
  }
}


//Pagination
ul.pagination{
  border-radius: 0;

  li{

    a{
      color: $azul;
      border: none;
      font-size: 18px;
      padding: 4px 12px;
      margin: 0 2px;
      border-radius: 100%;

      &:hover,
      &:focus{
        background-color: $gris-claro;
      }
    }

    &:first-child a,
    &:first-child span,
    &:last-child a,
    &:last-child span{
      border-radius: 0;
      background-color: #fff;
      font-size: 21px;

      &:hover,
      &:focus{
        background-color: #fff;
        color: $celeste;
      }
    }

    &.active{
      a, span,
      a:hover, span:hover,
      a:focus, span:focus{
        background-color: $azul;
        //font-weight: 700;
        color: #fff;
      }
    }

    &.disabled{
      a, span,
      a:hover, span:hover,
      a:focus, span:focus{
        //background-color: $azul;
        //font-weight: 700;
        color: $gris-claro;
      }
    }
  }
}


// Alumno individual
.alumno-individual{
  // margin-top: 1.5em;

  .alumno-info-principal{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid $azul;

    @include media('<tablet'){
      flex-flow: row wrap;
    }
  }

  .contenedor-foto{
    width: 30%;

    @include media('<tablet'){
      width: 100%
    }
  }

  .foto-alumno{
    width: 220px;
    height: 220px;
    margin: 1.5em auto;

    @include media('<desktop'){
      width: 180px;
      height: 180px;
    }
  }

  .info-alumno{
    width: 55%;
    margin-bottom: 1.5em;

    @include media('<tablet'){
      width: 74%
    }
    @include media('<tel-grande'){
      width: 100%
    }
  }

  .datos-alumno{
    span{
      margin: 0.5em 1.5em 0.5em 0;
    }
  }

  .promedio{
    padding: 1em;

    @include media('<desktop'){
      padding: 0.75em 0.5em;
    }
    @include media('<tablet'){
      width: 24%
    }
    @include media('<tel-grande'){
      width: 100%
    }
  }

  .fila-flex{
    @include media('<tablet'){
      flex-direction: column;
    }
  }

  .info-contactos{
    width: 30%;
    margin-right: 1.5em;

    @include media('<desktop'){
      width: 40%;
      margin-right: 0.75em;
    }
    @include media('<tablet'){
      width: 100%;
    }

    section{
      //background-color: $gris-claro;
      //padding: 1.5em;
      margin-bottom: 1.5em;

      &.contacto-alumno{
        border-top: none;
      }

      &.contacto-docente{
        //border-top: 2px solid $azul;
        li{
          padding: 0.1em 0 0.2em;
        }
      }
    }

    .lista-contacto{
      margin-top: 1em;

      li{
        padding: 0.5em 0 0.5em 0.5em;
      }

      .fa-li{
        background-color: $azul;
        color: #fff;
        border-radius: 100%;
        width: 2em;
        height: 2em;
        font-size: 14px;
        line-height: 2em;
        padding: 0;
        //margin-right: 0.75em;
      }
    }
  }
  .info-detalle{
    width: 65%;
    padding: 1.5em 0.5em;

    @include media('<desktop'){
      width: 60%;
    }
    @include media('<tablet'){
      width: 100%;
    }

    section{
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

    .lista-actitudes{
      li{
        padding: 0.5em 0;
        margin-right: 2.5em;
      }

      .fa-li{
        left: -1.75em;
        width: 1.8em;
        top: 0.75em;
      }
    }
  }
}

//NAV secundaria (listado)
.nav-listado{
  background-color: $azul;
  padding: 0 0.75em;

  .texto-nav{
    color: #fff;
    //font-weight: 700;
  }

  .link-nav-listado{
    display: block;
    padding: 1em;
    text-align: center;

    .glyphicon{
      font-size: 18px;
      color: #fff;
      vertical-align: -10%;
      margin: 0 0.25em 0 -0.25em;
    }

    .texto-nav{
      font-weight: 700;
    }

    &:hover{
      background-color: $celeste;
      color: $azul;
      text-decoration: none;

      .glyphicon,
      .texto-nav{
        color: $azul;
      }
    }
  }

  .btn-cambiar-vista{
    border-radius: 100%;
    font-size: 18px;
    font-weight: normal;
    box-shadow: none;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: $azul;
    color: #fff;
    margin:0.35em;

    &:hover,
    &:active,
    &:focus,
    &.activo{
      background-color: $celeste;
      color: $azul;
    }
  }
}

//Modal
.estilo-modal-bg{
  background-color: rgba(#fff, 0.7);
}

.estilo-modal-container{
  //background-color: $celeste;
  background-color: $gris-claro;
  box-shadow: -2px 0 2px rgba(#000, 0.25);
}

a.btn-cerrar{
  //font-size: 0.85em;
  //text-transform: uppercase;
  //padding-top: 2.25em;
  color: #fff;
  text-indent: -999em;
  width: 4em;
  height: 3em;

  &::after,
  &::before{
    content: '';
    width: 4px;
    height: 28px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
  }

  &::after{
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }

  &:hover{
    color: #000;
    transition: color 0.2s ease;

    &::after,
    &::before{
      background-color: #000;
      transition: background 0.2s ease;
    }
  }

  &.close{
    position: absolute;
    top: 2em;
    right: 1.5em;
    font-size: 14px;
    opacity: 0.75;

    &:hover{
      color: #000;
      opacity: 1;
    }
  }
}

.modal-content{
  border-radius: 0;
  border: none;
  padding: 1.5em 2em;
}

.modal-header{
  border: none;
}

.modal-footer{
  border: none;
  text-align: center;

  .btn{
    border-radius: 0;
    padding: 0;
    width: 5em;
    height: 3em;
    line-height: 3em;
  }
}



//FILTROS
.modulo-filtro{
  margin: 1.5em 0;
  border-top: 1px solid $azul;
  padding-top: 1em;

  &.modulo-promedio{
    margin-bottom: 2.7em;
  }
}

#rangoPromedio{
  width: 180px;
  margin: 0 10px;

  .slider-track{
    border-radius: 0;
    background-color: $gris-claro;
    background-image: none;
  }

  .slider-selection{
    background-color: #fff;
    background-image: none;
  }

  .slider-handle.triangle{
    border-top-color: $azul;
    border-width: 10px 10px 0;
  }

  .tooltip{
    margin-top: 0;
    padding-top: 0;
    font-size: 14px;

    .tooltip-arrow{
      display: none;
    }

    .tooltip-inner{
      background-color: transparent;
      color: #000;
      padding-top: 0;
    }
  }
}

.checkbox-container{
  margin-left: 20px;
}

.select-filtro{
  background-color: $gris-claro;
  font-weight: 700;
  color: #000;

  option{
    border: none;
    padding: 0.25em 0.5em;
  }
}

#bodyFiltro{
  position: relative;

  .filtros-bg{
    position: fixed;
    overflow: hidden;
    z-index: 1010;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  .filtros-contenedor{
    position: fixed;
    z-index: 1020;
    top: 10%;
    bottom: 10%;
    right: 0;
    overflow-y: scroll;
    width: 25%;
    max-width: 380px;
    padding: 2em;
    transform: translate(100%, 0);
    transition: transform 0.2s ease-out;

    @include media('<desktop'){
      width: 50%;
    }
    @include media('<tablet'){
      width: 80%;
      top: 0;
      bottom: 0;
    }
  }

  .filtros-contenido{
    overflow-y: visible;
    //padding: 2em;
    //margin: 2em 0;
  }

  a.cerrar-filtros{

    //font-weight: 700;
    position: absolute;
    top: 3em;
    right: 1.5em;
    z-index: 1050;
  }

  a.reset-filtros{
    position: absolute;
    top: 3.2em;
    left: 7.8em;
    color: $azul;
    background-color: transparent;
    border-radius: 100%;
    width:  pxToEm(32px);
    height:  pxToEm(32px);
    line-height: 2.5em;
    text-align: center;
    cursor: pointer;

    &:hover{
      background-color: $azul;
      color: #fff;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus,
    &.disabled:active{
      cursor: default;
      //color: rgba($celeste, 0.7);
      color: $gris-claro;
      background-color: transparent;
    }

  }

  &.mostrar-filtros{
    overflow: hidden;
    .filtros-bg{
      display: block;
    }

    .filtros-contenedor{
      transform: translate(0, 0);
      transition: transform 0.3s ease;
    }
  }
}

//Buscador
.input-buscar{
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  background-color: $azul;
  font-weight: 700;
  //border-width: 0 0 1px 0;
  //border-color: #fff;
  border: none;
  transition: background-color 0.2s ease;

  @include input-placeholder{
    font-weight: 700;
    color: $gris-claro;
  }

  &:focus{
    box-shadow: none;
    background-color: $celeste;
    color: $azul;
    transition: background-color 0.2s ease;

    @include input-placeholder{
      //font-weight: 700;
      color: $azul;
    }

    & ~ .input-group-btn>.btn-buscar{
      background-color: $celeste;
      transition: background-color 0.2s ease;

      .glyphicon{
        color: $azul;
      }
    }
  }
}

.btn-buscar{
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: $azul;
  min-height: 34px;

  transition: background-color 0.2s ease;

  .glyphicon{
    color: $gris-claro;
    font-size: 1.125em;
  }
}

.buscar-listado{
  border-bottom: 2px solid $celeste;
  margin-top: 7px;
  @include media('<tablet'){
    max-width: 400px;
    margin: auto;
  }

  &:hover{
    .input-buscar{
      background-color: $celeste;
      color: $azul;
      transition: background-color 0.2s ease;

      @include input-placeholder{
        //font-weight: 700;
        color: $azul;
      }
    }

    .btn-buscar{
      background-color: $celeste;
      transition: background-color 0.2s ease;

      .glyphicon{
        color: $azul;
      }
    }
  }
}

#lista-busqueda {
  padding: 0;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  @include media('<tablet'){
    width: 400px;
    margin-left: -200px;
  }
  .list-group-item {
    border-radius: 0;
    h4 {
      font-size: 14px;
    }
    span {
      display: block;
      font-size: 12px;
    }
  }
}


//Dropdown ordenar
.contenedor-ordenar{
  background-color: $celeste;
  box-shadow: 0 2px 2px rgba(#000, 0.25);
  padding: 1em 0.5em;
  //max-width: 18em;
  width: 240px;
}

.dropdown.open{
  .link-nav-listado{
    background-color: $celeste;

    .texto-nav,
    .glyphicon{
      color: $azul;
    }
  }
}

.select-ordenar{
  background-color: $gris-claro;
  font-weight: 700;
  color: #000;
  margin-top: 1em;

  option{
    border: none;
    padding: 0.25em 0.5em;
  }
}

.modo-orden{
  label{
    position: relative;
    cursor: pointer;
    padding: 0.25em 0.75em;
  }

  .glyphicon{
    font-size: 21px;
    color: $azul;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0 0.25em;
    border-radius: 100%;
    background-color: transparent;
   }

  input[type='radio']{
    position: absolute;
    left: -999em;

    &:checked ~ .glyphicon{
      background-color: $azul;
      color: #fff;
    }
  }
}

//Aviso Legal
.aviso-legal{
  .panel-bg-color{
    padding: 3em 2em;
  }

  p{
    font-size:1.1em;
    margin-bottom: 1em;
  }
}

//ERRORES
.error-acceso{
  .panel{
    margin:1em auto 3em;
  }
  .panel-body{
    padding:  0 1em 2.5em;
  }

  .link-home{
    margin: 1.5em auto;
  }
}


//FOOTER
footer.pie-pagina{
  background-color: #666;
  color: #fff;
  padding: 3em 0.5em;
  margin-top: 3em;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right: 0;
  &.pie-home{
    margin:0;
  }

  a{
    color: #fff;
  }

//  .contenido-footer{
//    margin-bottom: 1.5em;
//  }
  .subfooter{
    margin-top: 3em;
    //margin-bottom: 1.5em;
    font-size: 0.85em;
  }

  .logo-mpt{
    max-width: 195px;
  }

  .marca-container{
    @include media('<tablet'){
      text-align: center;
    }
  }

  .mpt-by{
    .texto-servicio{
      font-size: 0.85em;
      position: relative;
      top: 1em;
    }
    .uibb-blanco{
      //text-indent: -999em;
      width: 107px;
      height: 43px;
      //display: inline-block;
      //background: transparent url(../img/logo-uibb-blanco.png) no-repeat center right /cover;
    }

    @include media('<tablet'){
      text-align: center;
    }
  }



  .nav-list{

    li{
      padding: 0;
      &::before{
        content: "|";
        padding: 0 0.5em;

        @include media('<tablet'){
          padding: 0 0.2em;
        }
      }

      &:first-child{
        &::before{
          display: none;
        }
      }
    }

    &.menu-principal{
      margin-top: 4.5em;

      @include media('<tablet'){
        margin-top: 2em;
      }
    }
  }

  .text-right,
  .text-left{
    @include media('<tablet'){
      text-align: center;
    }
  }
}

//Spinner carga
.spinner-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($gris-claro, 0.75);
  z-index: 1200;
  display: none;
}

body.esperando{
  overflow: hidden;

  .spinner-container{
    display: block;
  }
}

.spinner{
  background-color: $azul;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 2em 0;

  .logo-spinner{
    fill: #fff;
    width: 150px;
  }

  .ball{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $gris-claro;
    //display: inline-block;
    animation: motion 3s cubic-bezier(0.5, 0, 0.2, 1) infinite;
    margin: 10px auto;
  }

  .loading{
    margin: 10px auto;
    //position: relative;
    //left: 50%;
    //transform: translateX(-50%);

    .bullet{
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: $gris-claro;
      animation: animIn 1.1s ease-in-out 0s infinite;

      &:nth-child(1){
        animation-delay: 0s;
      }&:nth-child(2){
        animation-delay: 0.3s;
      }&:nth-child(3){
        animation-delay: 0.6s;
      }&:nth-child(4){
        animation-delay: 0.9s;
      }
    }
  }
}

@keyframes motion {
  0% {transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-100px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(100px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes animIn {
  0% {

    transform: translateX(-80px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {

    transform: translateX(80px);
    opacity: 0;
  }
}
.label-select-carga-alumno {
  line-height: 2.5;
}
.select-carga-alumno {
  margin-bottom: 0;
}